.horizontal-scroll {
    width: 100%;
    height: 320px;
    background: url("/src/images/footer_fr.png");
    -webkit-animation: backgroundScroll 400s linear infinite;
    animation: backgroundScroll 60s linear infinite;
    background-repeat: no-repeat;
}

@-webkit-keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -600px 0;
    }
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}

.horizontal-scroll2 {
    width: 100%;
    height: 320px;
    background: url("/src/images/footer_bg.png");
    -webkit-animation: backgroundScroll2 400s linear infinite;
    animation: backgroundScroll2 30s linear infinite;
    background-repeat: no-repeat;
}

@-webkit-keyframes backgroundScroll2 {
    from {
        background-position: -1000px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes backgroundScroll2 {
    from {
        background-position: -2000px 0;
    }
    to {
        background-position: 0 0;
    }
}

.contact {
    text-align: center;
}
h1 {
    text-align: center;
}

.footer {
    padding-top: 50px;
}

.budget {
    padding-left: 20px;
}

// #inputGroupSelect01 {
//     width: 35%;
// }

// #inputGroupSelect02 {
//     width: 73%;
// }
.custom-select {
    width: 199px;
    height: 29px;
    background: white;
    padding: 5px;
    outline: none;
}

.row {
    margin-top: 20px;
}

.background {
    height: 50%;
    content: "";
    position: absolute;
    top: 65px;
    left: 380px;
    width: 44%;
    /* z-index: 999; */
    background-color: #7482ff;
}

.contact {
    z-index: 1;
}