<div class="footer">
  <div class="background"></div>
  <div class="container contact">
    <h1>Lets Discuss Your Project</h1>
    <div class="content">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <label>
            <input type="text" placeholder="Name">
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <input type="text" placeholder="E-mail">
          </label>
        </div>
        <div class="col-md-3"></div>
        
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3 budget">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Budget</option>
            <option value="1">₹ 5000</option>
            <option value="2">₹ 10,000</option>
            <option value="3">₹ 30,000</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>
            <input type="text" placeholder="Your Website (if any)">
          </label>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <label>
            <input type="text" placeholder="Compnay">
          </label>
        </div>
        <div class="col-md-3">
          <label>
            <input type="text" placeholder="Phone">
          </label>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <select class="custom-select" id="inputGroupSelect02">
            <option selected>Services</option>
            <option value="1">Web Development</option>
            <option value="2">App Development</option>
            <option value="3">Enterprise Application</option>
            <option value="4">Application Maintenance</option>
            <option value="5">Cloud Enabling</option>
            <option value="6">Cyber Security</option>
            <option value="7">Quality Assurance</option>
            <option value="8">Data Analytics</option>
            <option value="9">Digital Marketing</option>
            <option value="10">Process Automation RPA</option>
            <option value="11">Artificial Intelligence Machine Learning</option>
          </select>
        </div>
        <div class="col-md-3">
          <button>Speak with An Expert</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
  <div class="horizontal-scroll2">
    <div class="horizontal-scroll"></div>
  </div>
</div>