<section class='background c-slider'>
  <div class='c-slider-init'>

    <div class='c-slide' style='background-image:url("https://images.unsplash.com/photo-1504461407194-07c608d0989b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=100")'>
      <div class='c-slide-content'>
        <div class='c-wrap c-wrap--line'>
          <h2 class='c-slide__title'>
            Amizhth Family
            <span class='c-slide__title--large'>Welcomes You</span>
          </h2>
        </div>
        <div class='c-wrap c-wrap--small'>
          <div class='c-slide__info'>
            <h3 class='c-slide__subtitle'>We Amizhth</h3>
            <p class='c-slide__body'>Amizhth is a Design and Development Company in India offering website design
             App development, Enterprise application, Application maintenance Cloud Enabling service, Cyber
              security, Quality Assurance, Data analytics digital marketing, Process automation & RPA, Artificial
              Intelligence & Machine learning
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class='c-slide' style='background-image:url("https://images.unsplash.com/photo-1544745494-3d8dd3fa1564?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=100")'>
      <div class='c-slide-content'>
        <div class='c-wrap c-wrap--line'>
          <h2 class='c-slide__title'>
            Amizhth Family
            <span class='c-slide__title--medium'>Welcomes You</span>
          </h2>
        </div>
        <div class='c-wrap c-wrap--small'>
          <div class='c-slide__info'>
            <h3 class='c-slide__subtitle'>We Amizhth</h3>
            <p class='c-slide__body'>LAmizhth is a Design and Development Company in India offering website design
              App development, Enterprise application, Application maintenance Cloud Enabling service, Cyber
               security, Quality Assurance, Data analytics digital marketing, Process automation & RPA, Artificial
               Intelligence & Machine learning
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class='c-slide' style='background-image:url("https://images.unsplash.com/photo-1528214096798-37891d32174c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=100")'>
      <div class='c-slide-content'>
        <div class='c-wrap c-wrap--line'>
          <h2 class='c-slide__title'>
            Amizhth Family
            <span class='c-slide__title--large'>Welcomes You</span>
          </h2>
        </div>
        <div class='c-wrap c-wrap--small'>
          <div class='c-slide__info'>
            <h3 class='c-slide__subtitle'>We Amizhth</h3>
            <p class='c-slide__body'>Amizhth is a Design and Development Company in India offering website design
              App development, Enterprise application, Application maintenance Cloud Enabling service, Cyber
               security, Quality Assurance, Data analytics digital marketing, Process automation & RPA, Artificial
               Intelligence & Machine learning
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>