<app-slider></app-slider>
<div id="scroll">
<section class="background container">
  <div class="content-wrapper">
    <p class="content-title">We are Experienced Designers</p>
    <p class="content-subtitle" id="title">Amizhth is a Design and Development Company in India offering website design
      <br /> App development, Enterprise application, Application maintenance <br /> Cloud Enabling service, Cyber
      security, Quality Assurance, Data analytics <br /> digital marketing, Process automation & RPA, Artificial
      Intelligence & Machine learning</p>
  </div>
</section>

<section class="background container">
  <div class="content-wrapper">
    <p class="content-title">Cras lacinia non eros nec semper.</p>
    <p class="content-subtitle">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Cras ut massa mattis nibh semper pretium.</p>
  </div>
</section>

<section class="background container">
  <div class="content-wrapper">
    <p class="content-title">Etiam consequat lectus.</p>
    <p class="content-subtitle">Nullam tristique urna sed tellus ornare congue. Etiam vitae erat at nibh aliquam
      dapibus.</p>
  </div>
</section>

<section class="background container">
<!-- Dummy -->
</section>

</div>
